body{
    
    background-image: url("jasmine2back.jpg");
    background-color: #f6cdbc;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
#gamebox {
  overflow: hidden;
  position: relative; 
  width: 1000px;
  height: 600px;
  background-color: #f5c4d3;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  background-image: url("jasmineback.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end; 
}

#player {
  position: absolute; 
  bottom: 0;           
  left: 10px;         
  width: 90px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
}

 .hud {
  position: absolute;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 24px;
  font-weight: bold;
  color: #cba964;
  z-index: 2;
  pointer-events: none;
}
.falling-object {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 10;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.rose-object {
  background-image: url("lamp.png");
}
.book-object {
  background-image: url("gold.png");
}
.bad-object {
  background-image: url("timer.png");
}

.overlay {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.start-box {
  
  background-image: url("jasminestart.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  color: #ffffff;
  text-box-edge: 2px solid #000;
  box-shadow: 0 0 25px rgba(255,255,255,0.6);
  width: 450px;
  height: 230px;
   text-shadow: 
    -1px -1px 0 #000000, 
     1px -1px 0 #000000, 
    -1px  1px 0 #000000, 
     1px  1px 0 rgb(15, 15, 15); 
  
}

#start-btn {
  padding: 12px 24px;
  font-size: 18px;
  background: #ffe99a;
  color: #0f0a0a;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 90px;
}

#start-btn:hover {
  background: #ffffff;
  box-shadow: 0 0 20px #fff;
  transform: scale(1.1);
}


#gameover-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#gameover-overlay.hidden {
  display: none;
}

.gameover-box {
  background-image: url("jasmineend.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0,0,0,0.4);
  width: 500px;      
  height: 250px;  
  
  
}

.gameover-box h2 {
  margin-bottom: 20px;
  font-size: 2em;
  color: #ffffff;
  text-shadow: 
    -1px -1px 0 #000000, 
     1px -1px 0 #000000, 
    -1px  1px 0 #000000, 
     1px  1px 0 rgb(15, 15, 15);
  
}

.gameover-box p {
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #ffffff;
  text-shadow: 
    -1px -1px 0 #000000, 
     1px -1px 0 #000000, 
    -1px  1px 0 #000000, 
     1px  1px 0 rgb(15, 15, 15);
}



.gameover-box button {
  background: #333;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 40px;
  
}

.gameover-box button:hover {
  background: #000;
  box-shadow: 0 0 20px #fff;
}
.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #f06292;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  z-index: 9999;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #c2185b;
}
